<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Portfolio</title>
  <link rel="stylesheet" href="styles/css/main.min.css">
</head>

<body>
  <div id="main">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-4">
          <div class="nav-wrapper">
            <a href="" v-on:click.prevent="selected = 'about'" v-bind:class="{ active: (selected === 'about')}"
              id="aboutLink">About</a>
            <a href="" v-on:click.prevent="selected = 'projects'" v-bind:class="{ active: (selected === 'projects')}"
              id="projectsLink">Projects</a>
          </div>
        </div>
        <div class="col-sm-12 col-lg-8">
          <template>
            <transition name="fade" mode="out-in" appear>
              <div v-if="selected === 'about'" key="about" class="about-wrapper">
                <p><span>Hello</span>, I'm Boris, front-end web developer from Osijek, Croatia.</p>
                <p>My area of expertise is the <span>HTML-CSS-JavaScript</span> trinity, but I've had some experience
                  with
                  various other languages, tools and frameworks such as <span>PHP</span>, <span>Twig</span>,
                  <span>jQuery</span>, <span>Sass</span>, <span>Bootstrap</span>, <span>NPM</span> and <span>Git</span>.
                  I
                  also
                  worked with couple of popular Content Management Systems, mainly <span>OctoberCMS</span> and
                  <span>WordPress</span>.</p>
                <p>Currently I'm trying to keep up with ever-expanding JavaScript ecosystem by learning
                  <span>React</span> and <span>Vue.js</span>.</p>
              </div>
              <div v-else-if="selected === 'projects'" key="projects" class="projects-wrapper">
                <div class="row">
                  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                    <a href="http://greenmap.marrowlabs.com/" target="_blank">
                      <img src="./images/greenmap.png" alt="">
                      <div class="image-overlay">
                        <p>Greenmap</p>
                        <p><span>Web application</span></p>
                      </div>
                    </a>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                    <a href="https://www.udu-vsz.hr/" target="_blank">
                      <img src="./images/udu-vsz.png" alt="">
                      <div class="image-overlay">
                        <p>UDU-VSŽ</p>
                        <p><span>Website</span></p>
                      </div>
                    </a>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                    <a href="https://passkod.com/" target="_blank">
                      <img src="./images/passkod.png" alt="">
                      <div class="image-overlay">
                        <p>Passkod</p>
                        <p><span>Website</span></p>
                      </div>
                    </a>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                    <a href="http://inkubator.vinkovci.hr/" target="_blank">
                      <img src="./images/pi-vinkovci.png" alt="">
                      <div class="image-overlay">
                        <p>PI Vinkovci</p>
                        <p><span>Website</span></p>
                      </div>
                    </a>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                    <a href="http://www.zazeli.gradvinkovci.hr/" target="_blank">
                      <img src="./images/zazeli.png" alt="">
                      <div class="image-overlay">
                        <p>Zaželi</p>
                        <p><span>Website</span></p>
                      </div>
                    </a>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                    <a href="https://apartments-branka.com/" target="_blank">
                      <img src="./images/apartmani-branka.png" alt="">
                      <div class="image-overlay">
                        <p>Apartmani Branka</p>
                        <p><span>Website</span></p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="projects-info">
                      <p>Disclaimer: I don't own the copyright for these projects, they are the property of BetaWare
                        d.o.o., Passkod d.o.o. or Marrow Labs d.o.o. I only helped build them during my time working for
                        or with those companies.</p>
                    </div>
                  </div>
                </div>
              </div>
            </transition>
          </template>
        </div>
      </div>
    </div>
  </div>

  <script src="vendor/vue.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>