@import '../../vendor/bootstrap/scss/bootstrap-reboot.scss';
@import '../../vendor/bootstrap/scss/bootstrap-grid.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

// Mixins
@mixin extra-small {
  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
    @content;
  }
}

@mixin small {
  // Small devices (landscape phones, less than 768px)
  @media (max-width: 767.98px) {
    @content;
  }
}

@mixin medium {
  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
    @content;
  }
}

@mixin large {
  // Large devices (desktops, less than 1200px)
  @media (max-width: 1199.98px) {
    @content;
  }
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

#main {
  height: 100vh;
  display: flex;
  align-items: center;

  .nav-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: end;
    
    a {
      color: rgba($color: #333333, $alpha: 1.0);
      font-weight: 600;
      margin-bottom: 0.5rem;
      position: relative;
      text-decoration: none;
      transition: all .3s ease-in-out;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -.1rem;
        height: .1rem;
        width: 100%;
        background-color: rgba($color: #333333, $alpha: 1.0);
      }

      &#aboutLink {
        &:hover {
          padding-right: 3rem;
        }

        &.active {
          text-shadow: 1px 0 0 rgba($color: #333333, $alpha: 1.0);
          padding-right: 3rem;
        }
      }

      &#projectsLink {
        &:hover {
          padding-right: 2rem;
        }

        &.active {
          text-shadow: 1px 0 0 rgba($color: #333333, $alpha: 1.0);
          padding-right: 2rem;
        }
      }
    }

    @include medium() {
      margin-bottom: 5rem;
    }
  }

  p {
    color: rgba($color: #747474, $alpha: 1.0);
    line-height: 28px;
    font-size: 14px;
  }

  .about-wrapper {
    p {
      span {
        font-weight: 600;
      }
    }
  }

  .projects-wrapper {

    a {
      display: block;
      height: 100%;
      width: 100%;
      text-decoration: none;
      position: relative;

      img {
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
        height: 160px;
        width: 100%;
        object-fit: cover;
        transition: all .3s ease-in-out;
      }

      .image-overlay {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba($color: #333333, $alpha: .95);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 1;
        transition: opacity .3s ease-in-out;

        p {
          color: #ffffff;
          font-weight: 600;
          margin-bottom: .5rem;

          span {
            font-size: 12px;
            font-weight: 400;
          }

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }

      &:hover {
        .image-overlay {
          opacity: 0;
        }
      }
    }

    .projects-info {
      p {
        font-size: 12px;
      }
    }
  }

  @include medium() {
    height: 100%;
    padding: 40px 0 40px 0;
  }
}



.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}